https:
  port: 

api:
  customer360:
    host: 
    port: 
    protocol: 
  order:
    host: 
    port: 
    protocol: 
    
app:
  client_id: 
  client_secret: 
  autodiscovery: 
  
#Sales Business Group credentials
anypoint:
  platform:
    client_id: 
    client_secret: 
    visualizer:
      layer: 
      
      
keystore:
  path: 
  password: 
  
shippingCost: "20"
tax: "0.01"
