https:
  port: 

api:
  customer360:
    host: 
    port: 
    protocol: 
    
app:
  client_id: 
  client_secret: 
  autodiscovery: 
  
keystore:
  path: 
  password: 
  
shippingCost: "20"
tax: "0.01"
